*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}

/* TITLE HEADER AND MENU BAR */
#main-cont{
    display:flex;
    justify-content: center;
    min-height: 97vh;
    background:linear-gradient(to left, rgb(216, 216, 231), rgb(227, 227, 212))
    
}

#menu-cont{
    margin-top: 3em;
    margin-right: 7em;
    padding:0em 0.5em;
    width:500px;
    
}

#header{
    margin:1.5em 0;
    text-align: center;
    font-size: 2.2rem;
}

#button-cont{
    margin: 3em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    height: 400px;
}

#button-cont > label{
    font-size:1.3rem;
    width:160px;
    height: 48px;
    text-align: center;
    padding:0.1em;
    border:1px solid #00000070;
    background: #ffffff80;
    border-radius: 2.5px;
    position: relative;
    margin-bottom: 0.5em;
}

#button-cont > label:hover{
    background-color: #ffffff60;
}

#color-mode{
    height:15px;
    width: 50px;
    padding:0;
    position:absolute;
    top:2em;
    right:4em;
    border:none;
    margin:0;
}

button{
    font-size: 1.2rem;
    padding:0.5em 0.5em;
    margin-bottom: 0.5em;
    width:160px;
}

button:hover,
#color-label:hover,
#color-mode:hover{
    cursor: pointer;
}



.button-selected{
    border-color: red;
    border-style: double;
    /* background-color: rgb(107, 179, 242); */
}

.color-selected{
    text-decoration: underline rgb(27, 7, 7);
    
}

#grid-config-cont{
    width: 400px;
    height: 50px;
    margin:7em auto;
    display: flex;
    align-items: baseline;
}

#grid-info{
    margin-right: 50px;
    text-align: center;
    justify-content: center;
    padding:0.5em 0.5em;
    min-width: 250px;
    font-size: 1.2rem;
}



/* SKETCH PAD */

#sub-pad-cont{
    margin-top: 2em;
}

#sketch-pad-cont{
    display: grid;
    /* grid-template-columns: repeat(64,1fr);
    grid-template-rows: repeat(64,1fr); */
    border: 2px solid black;
    box-shadow: 10px 10px rgb(165, 182, 239);
    margin: 0 0;
    column-gap: 0;
    row-gap: 0;
    width: 832px;
    height: 832px;
    background-color: #fff;
}

.grid-box{
    /* border:0.5px solid magenta; */
    width: auto;
    height: auto;
}

.grid-box:hover{
    background-color: blue;
}



/* Footer */
footer{
    text-align: center;
    padding: 0.5em;
    background-color: rgba(104, 156, 235, 0.5);
}
